.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
}

.product {
    &-add {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 16px;
    }

    &-row{
        display: flex;
        gap: 16px;
    }
}