<div class="container">
  <form (ngSubmit)="save()">
     <div>
        <p>Carrito de compras para</p>
        <mat-form-field appearance="outline">
            <mat-label>Cliente</mat-label>
            <input matInput placeholder="Cliente" />
        </mat-form-field>
     </div>
     <div class="product-add">
        <button mat-flat-button type="button" (click)="add()">Agregar</button>

     </div>

     <div class="product-container">
        <div class="product-row">
            <mat-form-field appearance="outline">
                <mat-label>Producto</mat-label>
                <input matInput placeholder="Producto" />
            </mat-form-field><mat-form-field appearance="outline">
                <mat-label>Precio</mat-label>
                <input matInput placeholder="Precio" />
            </mat-form-field><mat-form-field appearance="outline">
                <mat-label>Cantidad</mat-label>
                <input matInput placeholder="Cantidad" />
            </mat-form-field>
        </div>

     </div>
  </form>

</div>